@import "tailwindcss";

@theme {
    --color-primary: #FF6B6B;
    --color-secondary: #4ECDC4;
    --color-accent: #FFE66D;
}

.slick-prev:before,
.slick-next:before {
    color: var(--color-primary) !important;
}